@import '../../styles/variables.scss';

.wrapper {
  height: 0;
  padding-top: percentage(1080/1920);
  position: relative;
}
.imagePlaceholder {
  background-color: $color-grey;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}